<div class="input-group search-inp">
    <input (keyup)="searchClient(searchinp.value)" type="text" class="form-control" placeholder="Введіть ім'я" aria-label="Username" aria-describedby="basic-addon1" #searchinp>
</div>

<ul *ngIf="!showSpinner" class="list-group">
    <li *ngFor="let client of clients" (click)="editClient(client)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" >
        {{ client.surname }} {{ client.name }} {{ client.tel }} 
        <span class="badge badge-primary badge-pill" (click)="planClient(client)">Записати</span>
    </li>
</ul>

<div *ngIf="showSpinner" class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>