<form *ngIf="client">

  <div class="form-group">
    <input type="text" class="form-control" id="clientnum" readonly="readonly" placeholder="Введіть Ім'я" value="Картка №{{client.clientnum}}">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="clientname" placeholder="Введіть Ім'я" value="{{client.name}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="clientsurname" placeholder="Введіть Фамілію" value="{{client.surname}}">
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="clientphone" placeholder="Введіть Телефон" value="{{client.tel}}">
  </div>
  <div class="form-group">
    <input  bsDatepicker #dp="bsDatepicker" type="text" class="form-control" id="clientbirthday" placeholder="Введіть дату народження" value="{{getBirthday()}}">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="clientcomment" placeholder="Додаткові данні" rows="3" value="{{client.comment}}"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Зберегти</button>
  <button type="submit" class="btn btn-primary">Видалити</button>
  <button (click)="planClient(client)" class="btn btn-primary">Записати</button>
  <button type="submit" class="btn btn-primary">Рентгени</button>

</form>

<div>timeline...</div>