<div *ngIf="client">
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <input type="text" class="form-control" id="clientnum" readonly="readonly" placeholder="Введіть Ім'я" value="Картка №{{client.clientnum}}">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="clientname" [readonly]="!isEditMode"
    placeholder="Введіть ім'я" [(ngModel)]="client.name" formControlName="clientname">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="clientfather" [readonly]="!isEditMode"
    placeholder="Введіть по батькові" [(ngModel)]="client.father" formControlName="clientfather">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="clientsurname" formControlName="clientsurname" [readonly]="!isEditMode"
    placeholder="Введіть фамілію" [(ngModel)]="client.surname">
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="clientphone" formControlName="clientphone" [readonly]="!isEditMode"
    placeholder="Введіть телефон" [(ngModel)]="client.tel">
  </div>
  <div class="form-group datepicker-holder">
    <input bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" type="text" class="form-control" formControlName="clientbirthday" [readonly]="!isEditMode"
    id="clientbirthday" placeholder="Введіть дату народження" triggers="" [(ngModel)]="client.clientbirthday" value="{{getBirthday()}}">
    <fa *ngIf="isEditMode" name="calendar" (click)="dp.toggle()"></fa>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="clientcomment" [readonly]="!isEditMode" formControlName="clientcomment"
    placeholder="Додаткові данні про клієнта" rows="3" [(ngModel)]="client.comment"></textarea>
  </div>

  <div *ngIf="isEditMode">
    <button [disabled]="clientForm.invalid" type="submit" class="btn btn-primary">Зберегти</button>
    <button (click)="resetForm()" class="btn btn-primary" type="button">Відміна</button>
    <button (click)="openModal(template)" class="btn btn-danger" type="button">Видалити Картку</button>
  </div>

  <div *ngIf="!isEditMode">
    <button (click)="edit()" class="btn btn-primary" type="button">Редагувати</button>
    <button (click)="planClient(client._id)" class="btn btn-primary" type="button">Записати на прийом</button>
    <button class="btn btn-primary" type="button" disabled>Рентгени</button>
  </div>

</form>
  <app-timeline [clientId]="client._id"></app-timeline>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Ви дійсно бажаєте видалити клієнта?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Видалити</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Не видаляти</button>
  </div>
</ng-template>
