<div *ngIf="client">
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <input type="text" class="form-control" id="clientnum" readonly="readonly" placeholder="Введіть Ім'я" value="Картка №{{client.clientnum}}">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="clientname" [readonly]="!isEditMode"
    placeholder="Введіть Ім'я" [(ngModel)]="client.name" formControlName="clientname">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="clientsurname" formControlName="clientsurname" [readonly]="!isEditMode"
    placeholder="Введіть Фамілію" [(ngModel)]="client.surname">
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="clientphone" formControlName="clientphone" [readonly]="!isEditMode"
    placeholder="Введіть Телефон" [(ngModel)]="client.tel">
  </div>
  <div class="form-group">
    <input bsDatepicker #dp="bsDatepicker" type="text" class="form-control" formControlName="clientbirthday" [readonly]="!isEditMode"
    id="clientbirthday" placeholder="Введіть дату народження" [(ngModel)]="client.clientbirthday" value="{{getBirthday()}}">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="clientcomment" [readonly]="!isEditMode"
    placeholder="Додаткові данні" rows="3" value="{{client.comment}}"></textarea>
  </div>

  <div *ngIf="isEditMode">
    <button [disabled]="clientForm.invalid" type="submit" class="btn btn-primary">Зберегти</button>
    <button (click)="resetForm()" class="btn btn-primary">Відміна</button>
    <button (click)="deleteClient(client._id)" class="btn btn-primary">Видалити</button>
  </div>

  <div *ngIf="!isEditMode">
    <button (click)="edit()" class="btn btn-primary">Редагувати</button>
    <button (click)="planClient(client._id)" class="btn btn-primary">Записати</button>
    <button class="btn btn-primary" disabled>Рентгени</button>
  </div>

</form>

  <app-timeline [clientId]="client._id"></app-timeline>

</div>

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalText}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{client.name}} {{client.surname}}</p>
      </div>
    </div>
  </div>
</div>
