<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <input type="text" class="form-control" id="clientname"
    placeholder="Введіть Ім'я" formControlName="clientname">
    <label
      *ngIf="clientForm.get('clientname').invalid && clientForm.get('clientname').touched"
      for="clientname">Ім'я не корректне</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="clientfather"
           placeholder="Введіть по батькові" formControlName="clientfather">
    <label
      *ngIf="clientForm.get('clientfather').invalid && clientForm.get('clientfather').touched"
      for="clientname">По батькові не корректне</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="clientsurname"
    placeholder="Введіть фамілію" formControlName="clientsurname">
    <label
      *ngIf="clientForm.get('clientsurname').invalid && clientForm.get('clientsurname').touched"
      for="clientsurname">Фамілія не корректна</label>
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="clientphone"
    placeholder="Введіть Телефон у форматі 0991122333" formControlName="clientphone">
    <label
      *ngIf="clientForm.get('clientphone').invalid && clientForm.get('clientphone').touched"
      for="clientphone">Введіть телефон у форматі 0991122333</label>
  </div>
  <div class="form-group">
    <input bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig"
    type="text" class="form-control" id="clientbirthday"
    formControlName="clientbirthday" placeholder="Введіть дату народження у форматі 25.12.1987">
    <label
      *ngIf="clientForm.get('clientbirthday').invalid && clientForm.get('clientbirthday').touched"
      for="clientbirthday">Введіть дату у форматі 25.12.1987</label>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="clientcomment"
    placeholder="Додаткові данні" rows="3" formControlName="clientcomment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid">Зберегти</button>
</form>

<p>Form value: {{ clientForm.value | json }}</p>
<p>Form status: {{ clientForm.status | json }}</p>
