<form>
  <div class="form-group">
    <input type="text" class="form-control" id="clientname" placeholder="Введіть Ім'я">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="clientsurname" placeholder="Введіть Фамілію">
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="clientphone" placeholder="Введіть Телефон">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="clientbirthday" placeholder="Введіть дату народження">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="clientcomment"  placeholder="Додаткові данні" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Зберегти</button>
  
</form>