<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate autocomplete="on" *ngIf="!showSpinner">

  <div *ngIf="client" class="form-group">
    <input type="text" class="form-control" readonly="readonly" value="{{getClientName(client)}}">
  </div>

  <div class="form-group">
    <input type="phone" class="form-control" id="clientphone"
    placeholder="Введіть Телефон у форматі 0991122333" formControlName="clientphone" [readonly]="client">
    <label
      *ngIf="clientForm.get('clientphone').invalid && clientForm.get('clientphone').touched"
      for="clientphone">Введіть телефон у форматі 0991122333</label>
  </div>

  <div class="form-group">
  <div class="form-row">
    <div class="col datepicker-holder">
      <input
        bsDatepicker
        #dp="bsDatepicker"
        [bsConfig]="bsConfig"
        type="text"
        class="form-control"
        id="clientplandate"
        formControlName="clientplandate"
        placeholder="Оберіть дату наступного візиту"
        triggers=""
      >
      <fa name="calendar" (click)="dp.toggle()"></fa>
    </div>
    <div class="col">
      <timepicker [(ngModel)]="clientplantime" formControlName="clientplantime"></timepicker>
    </div>
  </div>
</div>

  <div class="form-group">
      <select id="clientjob" formControlName="clientjob" class="form-control">
        <option *ngFor="let job of jobs" value="{{ job._id }}">{{ job.label }}</option>
      </select>
    </div>

    <div class="form-group">
      <select id="doctor" formControlName="doctor" class="form-control">
        <option *ngFor="let doctor of doctors" value="{{ doctor._id }}">{{ doctor.name }} {{ doctor.surname }}</option>
      </select>
    </div>

  <div class="form-group">
    <textarea class="form-control" id="clientcomment"
    placeholder="Обсяг роботи" rows="3" formControlName="clientcomment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid">Зберегти</button>
  <button type="button" *ngIf="event" (click)="openModal(templateEditPlan);" class="btn btn-danger">Видалити Запис</button>
</form>

<app-spinner [showSpinner]="showSpinner"></app-spinner>

<ng-template #templateEditPlan>
  <div class="modal-body text-center">
    <p>Ви дійсно бажаєте видалити цю подію?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Видалити</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Не видаляти</button>
  </div>
</ng-template>
