<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate autocomplete="on" *ngIf="!showSpinner">

  <div *ngIf="client" class="form-group">
    <input type="text" class="form-control" readonly="readonly" value="{{client.name}} {{client.father}} {{client.surname}}">
  </div>

  <div [class.hidden]="client" class="form-group">
    <input type="phone" class="form-control" id="clientphone"
    placeholder="Введіть Телефон" formControlName="clientphone">
  </div>

  <div class="form-group">
  <div class="form-row">
    <div class="col">
      <input bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig"
      type="text" class="form-control" id="clientplandate"
      formControlName="clientplandate" placeholder="Оберіть дату наступного візиту">    </div>
    <div class="col">
      <timepicker [(ngModel)]="clientplantime" formControlName="clientplantime"></timepicker>
    </div>
  </div>
</div>

  <div class="form-group">
      <select id="clientjob" formControlName="clientjob" class="form-control">
        <option *ngFor="let job of jobs" value="{{ job._id }}">{{ job.label }}</option>
      </select>
    </div>

    <div class="form-group">
      <select id="doctor" formControlName="doctor" class="form-control">
        <option *ngFor="let doctor of doctors" value="{{ doctor._id }}">{{ doctor.name }} {{ doctor.surname }}</option>
      </select>
    </div>

  <div class="form-group">
    <textarea class="form-control" id="clientcomment"
    placeholder="Обсяг роботи" rows="3" formControlName="clientcomment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid">Зберегти</button>
</form>

<app-spinner [showSpinner]="showSpinner"></app-spinner>
