:host {
  display: block;
  margin-top: 20px;
}

a.list-group-item {
  padding-left: 30px;
}

h5 span {
  width: 10px;
  height: 80%;
  position: absolute;
  top: 0;
  left: 10px;
  margin-top: 5px;
  border-radius: 2px;
}
