nav a{
    width: 100%;
    display: block;
    background: rgb(236, 133, 95);
    margin: 0 0 10px 0;
    padding: 10px 10px;
    color: white;
}

nav a:hover{
    opacity: 0.8;
    text-decoration: none;
}

@media only screen and (max-width: 900px)  {
  nav a {
    overflow: hidden;
  }
  nav a span {
    display: none;
  }
  app-menuwidget {
    display: none;
  }
}
