<nav>
    <a routerLink="/clients" routerLinkActive="active"><fa name="user"></fa><span>Клієнти ( {{clientsCount}} )</span></a>
    <a routerLink="/addclient" routerLinkActive="active"><fa name="address-card"></fa><span>Створити картку</span></a>
    <!--<a routerLink="/plan/new" routerLinkActive="active"><span>Записати Нового</span></a>-->
    <a routerLink="/calendar" routerLinkActive="active"><fa name="calendar"></fa><span>Календар</span></a>
    <a routerLink="/statistic" routerLinkActive="active"><fa name="signal"></fa><span>Статистика</span></a>
    <!--<a routerLink="/admin" routerLinkActive="active"><span>Admin</span></a>-->
</nav>


<app-menuwidget></app-menuwidget>
