<nav>
    <a routerLink="/clients" routerLinkActive="active"><span>Клієнти ( {{clientsCount}} )</span></a>
    <a routerLink="/addclient" routerLinkActive="active"><span>Створити картку</span></a>
    <!--<a routerLink="/plan/new" routerLinkActive="active"><span>Записати Нового</span></a>-->
    <a routerLink="/calendar" routerLinkActive="active"><span>Календар</span></a>
    <a routerLink="/statistic" routerLinkActive="active"><span>Статистика</span></a>
    <!--<a routerLink="/admin" routerLinkActive="active"><span>Admin</span></a>-->
</nav>



<app-menuwidget></app-menuwidget>
